In [1]:
import pandas as pd

#### 2016 report table data for all youth by age

In [2]:
pd.read_csv('total_youth_2016_data.csv')

                Category   16-18   19-21   22-24   Totals
0      Opportunity Youth   2,805   7,284   8,728   18,817
1     Working No Diploma     587   2,049   2,877    5,513
2  Not Opportunity Youth    4661  32,318  36,426  115,405
3       Total Population  50,053  41,651  48,031  139,735

#### 2016 report table data for all opportunity youth education by age

In [4]:
pd.read_csv('oy_ed_2016_data.csv')

                  Category  16-18  19-21  22-24  Totals
0               No diploma  1,610  2,048  1,981   5,639
1        HS diploma or GED    985  3,349  3,067   7,401
2  Some college, no degree    179  1,666  1,763   3,608
3     Degree(AA or higher)     31    221  1,917   2,169
4                 Total OY  2,805  7,284  8,728  18,817